img{
    width: 200px;
}
html{
    scroll-behavior: smooth;
    color-scheme: light dark;
    cursor:url(https://upload.wikimedia.org/wikipedia/commons/8/86/Hieroglifo_-_I5_-_Krokodilo.svg);
}
.main-text{
    text-align:center;
    font-family:'comic sans ms';
    color: orange;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('bg.jpg');
    background-size: cover;
}
.github-button{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg");
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    color:rgb(2, 3, 46);
    background-color: rgb(255, 255, 255);
    border-radius: 29px;
    text-align:left;
    transition: background-color 1s;


}
.github-button:hover{
    background-color: rgb(148, 147, 147);
}
.github-button:active{
    opacity:0.5;

}